body {
    background-color:#000 !important;
	color: #fff !important;
}

.app-container {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.watch-border {
	border: 1px solid white;
	border-radius:50%;
	height:360px;
	width:360px;
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
